.title{
    background-color: #FF0000;
    color:white;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    float: left;
    clear: none; 
    width: 100%;
}
.logo{
    text-align: left;
}
.label{
    text-align: right;
}
.imgClaro{
    width: 100px;
}